.cubos-input {
  display: flex;
  flex-direction: column;

  margin-top: 16px;
  position: relative;
}

.cubos-input__field {
  position: relative;
}

.cubos-input label {
  margin-bottom: 4px;

  color: var(--blue-800);
  font-family: var(--font-poppins);
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 182%;
}

.cubos-input img {
  position: absolute;
  object-fit: contain;
}
