.cubos-modal {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 32px;
  max-height: calc(100vh - 64px);
  max-width: 100%;
  box-sizing: border-box;
}

.cubos-modal__body {
  min-height: 0;
  overflow-y: auto;
  height: 100%;
}

@media (max-width: 520px) {
  .cubos-modal {
    padding: 24px;
  }

  .cubos-modal__actions .cubos-button {
    width: 100% !important;
  }
}
